node_modules/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.DS_Store
.env
.prettier.config.js
api-5218195304728904261-913154-0f44e566e78c.json
.idea/
.expo-shared/
google-services.json
.bash_profile.swp
env.ts
